@model IEnumerable<GameMillionare_MVC_.Models.QuestionContext>
@{
    ViewBag.Title = "Game";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2 style="text-align:center">Game</h2>
    <h2 style="text-align:center">Начните игру</h2>
    <div style="margin:0 auto; width:300px;">
        @using (Html.BeginForm("/ProcessGame", "Game", FormMethod.Get))
        {
            <div style="text-align:center">
                <button value="15" name="startGame">15 Вопросов</button>
                <button value="10" name="startGame">10 Вопросов</button>
            </div>
        }

    </div>
    </body>
</html>

