@model IEnumerable<GameMillionare_MVC_.Models.Question>

@{
    ViewBag.Title = "ProcessGame";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @foreach (var answer in Model) {

                <tr>
                    @answer.Question.Text
                </tr>

        foreach(var sad in answer)
        {
                        <tr>@sad.</tr>
        }


}

</table>
